# (dianna) .dianna/.gitconfig

# avoid messing up brew
[includeIf "gitdir:/opt/homebrew"]
  path = ~/.dianna/.gitconfig-empty

# otherwise...
[includeIf "gitdir:~/**"]
  path = ~/.dianna/.gitconfig-global
